:root {
    --card_width: 500px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 60;
    --card_medium: 66;
    --card_large: 80;
}

body,
button,
html {
    font-family: 'Hind', serif;
    color: #000000;
}

p,
li,
span,
h2 {
    color: #000000;
}

ul {
    list-style-type: circle;
    text-align: left;
}

li {
    padding-bottom: 3px;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #d3d3d3;
    overscroll-behavior: none;
}

.taskbar {
    background-color: #ffffff;
    /* Green */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    display: flex;
    justify-content: left;
}

.icon {
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
}

.name-div {
    align-items: center;
    margin-top: 10px;
  	margin-left: 10px;
  	margin-right: 10px;
}

.name {
    font-size: 30px;
    font-weight: 500;
    margin: 0px;
}

.icon-pic {
    width: 50px;
    height: 50px;
}

.menu button {
    float: left;
    background-color: #ffffff;
    /* Green */
    border: none;
    color: black;
    padding: 20px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-left: 0.5px solid black;
    border-right: 0.5px solid black;

}

/* Add a background color on hover */
.menu button:hover {
    background-color: #a9a9a9;
    /* Green */
}

.menu button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}
