.profile-div{
  display: flex;
  justify-content: center;
}
.image-div {
    margin: 20px;
    background-color: #ffffff;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 8px;
}

.profile-image {
    width: 500px;
    height: 500px
}

.text-div {
	width: 60%;
    margin: 10px;
}
.profile-intro {
    margin: 20px;
    background-color: #ffffff;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 8px;
    font-size: 40px;
  	color: #4f5356;
    font-weight: 525;
}
.desc-div{
    margin: 20px;
    background-color: #ffffff;
    border: none;
    color: white;
    text-align: left;
    text-decoration: none;
    padding: 20px 20px;
    border-radius: 8px;
  	align-items: center;
}