:root {
    --card_width: 500px;
    --row_increment: 10px;
    --card_border_radius: 16px;
    --card_small: 60;
    --card_medium: 66;
    --card_large: 80;
}
body, html {
    font-family: 'Hind', serif;
    color: #d8d8d8;
}
p,li,span,h2{
    color: #d8d8d8;
}

ul{
    list-style-type: circle;
    text-align: left;
}
li{
    padding-bottom: 3px;
    font-size: 18px;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #90a1a3;
    overscroll-behavior: none;
}
.my-info{
    margin-top: 20px;
}



.image-div,
.name-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.name{
    font-size: 30px;
    font-weight: 500;
    margin: 0px;
    margin-bottom: 10px;
}

.profile-pic{
    width: 130px;
    border-radius: 100px;
    object-fit: cover;
    height: 130px;
    transition: 300ms;
    box-shadow: 3px 3px 100px white;
}
.profile-pic:hover{
    transform: scale(1.5);
    height: 200px;
    width: 200px;
    cursor: pointer;
}
.image-div .profile-pic:hover{
    margin-top: 60px;
    margin-bottom: 60px;  
}
